/*! VARIABLES */

$bgWhite: #fefefe;
$primaryFont: 'Oswald',
sans-serif;
$secondaryFont: 'Open Sans',
sans-serif;
$primaryBlue: #0b2f71;
$secondaryBlue: #182b4e;
$lightBlue: #80e4f9;
$primaryRed: #a53535;
$darkGrey: #444444;